

<section id="block-footer">
    <p id="footer-right"><a href="#">Terms</a>|<a href="#">Privacy</a></p>
    <p id="footer-left">&copy; 2023  The Casual Gardener  </p>
    <p> <a href="https://pixabay.com/users/svenhilker-8940542/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3386212" target=”_blank” > Image By Sven Hilker</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3386212" target=”_blank”>Pixabay</a></p>

</section>